{{/* 
    - The Series template functions like a list page, but is specific to the "series" taxonomy.
    - layout-series is an empty class for easier location; do not style against it.  
*/}}


{{ define "main" }}
<section class="layout-series hero is-medium is-primary">
    <div class="hero-body">
    <p class="title">
        > {{.Title}}
    </p>
    <p class="subtitle">
        <hr>
        {{.Description}}
    </p>
    </div>
</section>
<section class="layout-series section">
    {{if .Pages }}
        {{ range sort .Pages "Weight" "$order"}}
        <h3 class="button">{{.Title}}</h3>
        <br>
        {{ partial "featureBetaNotice.html" . }}
        {{.Content}}
        <hr>
            {{ end }}
        {{ end }}
  </section>
{{end}}
