{{ define "main"}}
    <main id="main">
      <section class="container is-max-desktop"> 
        {{ if .Site.Params.heroBanner.list }}
            <section class="layout-list hero is-medium is-primary theme-pattern-alt">
                <div class="hero-body">
                    <h1><strong>{{.Title}}</strong></h1>
                    <p class="has-text-black"> Looks like that article doesn't exist. </p>
                </div>
            </section>
        {{else}}
          {{/* Don't show the hero section */}}
        {{end}}

        {{/*  TODO: range through the path.Dir from the url to get a list of child pages related to the unfound article; 404 currently takes context from the global site and shows everything at once, including tag pages.  */}}
        {{ partial "featureChildPages.html" . }}
    </section>
    </main>
{{ end }}