{{ define "main"}}
    <main id="main">
      <section class="container is-max-desktop"> 
        {{ if .Site.Params.heroBanner.list }}
            <section class="layout-list hero is-medium is-primary theme-pattern-alt">
                <div class="hero-body">
                    <h1><strong>{{.Title}}</strong></h1>
                    <p class="has-text-black"> Looks like that article doesn't exist. </p>
                </div>
            </section>
        {{else}}
          {{/* Don't show the hero section */}}
        {{end}}

        

        {{ partial "featureChildPages.html" . }}
    </section>
    </main>
{{ end }}