:root {
    --is-primary-font: "Montserrat"; /* Chaning fonts? Also update head.html */
    --is-secondary-font: "Montserrat";
    --is-background-color: #fff;
    --is-content-color: #000;
    --is-content-color-inverted: #fff;
    --is-primary-color: #582f6b;
    --is-link-color: #ce6767;
    --is-accent-color: #5ba3b1;
    --is-code-color: #ce6767;
    --is-notice-tip: #c6b7e5;
    --is-notice-warning:#c49191;
    --is-notice-info: #ede9ee;
    --is-notice-success: #ecf5f7;
    --is-notice-danger:  #c6b7e5;
}


/* Non-Bulma classes */

/* Animations */

.pach-fade-in {
    animation: fadeIn .4s ease-in-out;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

/* pach-fixed is used for floating directory/toc  */

.pach-fixed {
    position: fixed;
    z-index: 100;
}

/* pach-pattern is used for the hero image backgrounds on single pages; alt is for list pages */

.pach-pattern {
    background-image: url(/images/pachContentBG.svg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.pach-pattern-alt {
    background-image: url(/images/pachContentBG2.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* pach-tile is used for standardizing the size of child article tiles in list pages */

.pach-tile {
    height: 100%;
}
/* pach-directory is used to make the left navigation/folder-tree follow the reader */

.pach-directory {
    position: relative;
    overflow-y: auto;
    height: 725px;
}

/* Text Highlight Color */

::selection {
    background: var(--is-accent-color);
    color: #fff;
}


/* The following are notice types used in documentation for tip, info, success, warning, danger content.  */

.tip {
    background-color: var(--is-notice-tip);
}

.tip::before {
    content: "💡";
    font-size: 1.5rem;
    margin-right: 10px;
    margin-top: 10px;
    float: left;


}

.warning {
    background-color: var(--is-notice-warning);
    color: white
}

.warning::before {
    content: "☠️";
    font-size: 1.5rem;
    margin-right: 10px;
    margin-top: 10px;
    float: left;

}

.info {
    background-color: var(--is-notice-info);
}

.info::before {
    content: "📖";
    font-size: 1.5rem;
    margin-right: 10px;
    margin-top: 10px;
    float: left;

}

.success {
    background-color: var(--is-notice-success);
}

.success::before {
    content: "🎉";
    font-size: 1.5rem;
    margin-right: 10px;
    margin-top: 10px;
    float: left;

}


.pach-dark-mode {
    background-color: #000;
    color: var(--is-content-color-inverted);
}

.pach-dark-mode strong {
    color: var(--is-content-color-inverted);
}

.pach-dark-mode a {
    color: var(--is-notice-danger);
}

.pach-dark-mode h1,
.pach-dark-mode h2,
.pach-dark-mode h3,
.pach-dark-mode h4,
.pach-dark-mode h5, 
.pach-dark-mode h6,
.pach-dark-mode p {
    color: var(--is-content-color-inverted) !important;
}

.pach-dark-mode pre,
.pach-dark-mode .card-content {
    background-color: #454545 !important;
}
.pach-dark-mode code { 
    background-color: transparent;
}


.pach-dark-mode .tag {
    background-color: #454545;
    color: var(--is-content-color-inverted);
}
.pach-dark-mode .tag.is-small.is-white {
    background-color: #000;
    color: var(--is-content-color-inverted);
}

.pach-dark-mode .pach-pattern-alt {
    background-image: url(/images/pachContentBG2-D.svg) !important;
}
.pach-dark-mode .pach-pattern {
    background-image: url(/images/pachContentBG-D.svg) !important;
}
.pach-dark-mode .logo {
    background-image: url(/images/pachLogoWhite.svg);
}

.pach-is-transparent {
    background-color: transparent !important;
}



/* Link weights */

nav  a, article a {
    font-weight: 700;
}

article aside a {
    font-weight: 400;
}

/* H1-H3 Anchors show on hover; see /layouts/_default/_markup.html to customize.  */

.anchor {
    display: none;
}

h2:hover .anchor, h3:hover .anchor, h4:hover .anchor, h5:hover .anchor, h6:hover .anchor {
    display: inline-block;
}

/* Google Variable Fonts */

@font-face {
	font-family: 'Montserrat';
	src: url('/fonts//Montserrat-VariableFont_wght.ttf') format('truetype'),
        url('/fonts//Montserra-Italic-VariableFont_wght.ttf') format('truetype');
	font-weight: 100 1000;
	font-stretch: 25% 151%;
} 