:root {
    --is-primary-font: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    --is-secondary-font: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    --is-header-color: #000;
    --header-size: 2rem;
    --is-primary-color: #5ba3b1;
    --is-primary-hover-color: #D3D7DB;
    --is-accent-color: rgb(88, 47, 107);
    --is-accent-opaque: rgb(88, 47, 107, 0.2);
    --is-background-color: #fff;
    --is-info-color: #3e8ed0;
    --is-link-color: #5ba3b1;
    --is-code-color: #9060F4;
    --is-notice-tip: #9060F4;
    --is-notice-warning:#DF6064 ;
    --is-notice-info: #5ba3b1;
    --is-notice-success: #B05380;
}

/* Animations */

.fade-in {
    animation: fadeIn .4s ease-in-out;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }