:root {
    --is-primary-font: "Montserrat"; /* Chaning fonts? Also update head.html */
    --is-secondary-font: "Montserrat";

    --is-header-color: #000;
    --is-content-color: #000;


    --is-primary-color: #f2e9e9;
    --is-primary-hover-color: #b0a8b3;
    --is-cta-color: #582f6b;
    --is-accent-color: #5ba3b1;
    --is-accent-opaque: #ecf5f7;
    --is-background-color: #fff;

    --is-info-color: #3e8ed0;
    --is-link-color: #5ba3b1;
    --is-code-color: #9060F4;

    --is-notice-tip: #9060F4;
    --is-notice-warning:#ce6767;
    --is-notice-info: #ede9ee;
    --is-notice-success: #ecf5f7;
}


/* Non-Bulma classes */

.pach-cta {
    background-color: var(--is-cta-color);
    color: #fff; 
}
.pach-cta:hover {
    color: #fff;
}

/* cp = childpages; used in list.html and featureChildPages */
.pach-cp {
    background-color: var(--is-accent-opaque);
    height: 225px;
    color: #000;
    border-radius: 20%;
}

.pach-cp:hover {
    color: #000;
}

/* np = nextprevious; used in featureNextPrev */

.pach-np {
    background-color: var(--is-accent-opaque);
    color: #000;
}

/* Animations */

.pach-fade-in {
    animation: fadeIn .4s ease-in-out;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

/* fixed is used for floating directory/toc  */

.pach-fixed {
    position: fixed;
    z-index: 100;
}

/* pattern is used for the hero image backgrounds on single pages; alt is for list pages */

.pach-pattern {
    background-image: url(/images/pachContentBG.svg);
    background-repeat: no-repeat;
    background-size: auto;
    
}
.pach-pattern-alt {
    background-image: url(/images/pachContentBG2.svg);
    background-repeat: no-repeat;
    background-size: auto;
}