/* Text */

h1, h2, h3, h4, h5, h6 {

    margin-top: 20px;

}

h1 {
    font-size: var(--header-size);
}

h2 {
    font-size: calc(var(--header-size) - 0.3rem);

}

h3 {
    font-size: calc(var(--header-size) - 0.6rem);

}

h4 {
    font-size: calc(var(--header-size) - 0.9rem);

}

h5 {
    font-size: calc(var(--header-size) - 1.2rem);
}

h6 {
    font-size: calc(var(--header-size) - 1.4rem);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--is-primary-font); 
    color: var(--is-header-color);
    font-weight: 800;
}


body {
    font-family: var(--is-secondary-font);
    background-color: var(--is-background-color);
    overflow: hidden;
    color: var(--is-header-color);
}


a { 
    font-weight: 500;
}


/*Table*/

.table-wrap {
    padding: 15px;
    position: relative;
    overflow: scroll;
}


table {
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 11px;
    width: 100%;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
  }
  
td, th {
border: 1px solid #dbdbdb;
border-width: 0 0 1px;
padding: 0.5em 0.75em;
vertical-align: top;
}
thead {
    background-color: transparent;
  }


 th {
    color: #363636;
  }
  
 th:not([align]) {
    text-align: inherit;
  }

 thead td,thead th {
    border-width: 0 0 2px;
    color: #363636;
  }
  
tfoot {
    background-color: transparent;
  }
  
tfoot td, tfoot th {
    border-width: 2px 0 0;
    color: #363636;
  }
  
tbody {
    background-color: transparent;
  }
  
tbody tr:last-child td,tbody tr:last-child th {
    border-bottom-width: 0;
  }

tbody tr:nth-child(even) {
    background-color: whitesmoke;
  }
tbody tr:hover {
background-color:var(--is-accent-opaque);
}


/* Text Highlight Color */

::selection {
  background: var(--is-accent-color);
  color: #fff;
}


/* Notices */

.tip {
  background-color: var(--is-notice-tip);
  color: white
}
.tip::before{
  content: "💡";
  font-size: 1.5rem;
  margin-right: 10px;
  margin-top: 10px;
  float: left;

  
}

.warning {
  background-color: var(--is-notice-warning);
  color: white
}
.warning::before{
  content: "☠️";
  font-size: 1.5rem;
  margin-right: 10px;
  margin-top: 10px;
  float: left;
  
}
.info {
  background-color: var(--is-notice-info);
  color: white
}
.info::before{
  content: "📖";
  font-size: 1.5rem;
  margin-right: 10px;
  margin-top: 10px;
  float: left;
  
}
.success {
  background-color: var(--is-notice-success);
  color: white
}
.success::before{
  content: "🎉";
  font-size: 1.5rem;
  margin-right: 10px;
  margin-top: 10px;
  float: left;
  
}