
{{ if .Site.Params.relatedArticles }}

    <section id="related-articles" class="is-hidden"> 
        {{ if eq .BundleType "branch"}}
        {{/*Show nothing*/}}
        {{else}}

            {{ $related := site.RegularPages.RelatedIndices . "tags"   }}
            {{ with $related }}
                <div class="my-2"> Related Articles</div>
                <ul class="buttons is-flex-direction-column is-align-items-start">
                    {{ range . }}
                        <li class="button my-1 is-small"><a href="{{ .RelPermalink }}" class=" has-text-black">{{ .Title | truncate 30 }}</a></li>
                    {{ end }}
                </ul>
                {{else}}
                <div class="my-2"> No Related Articles</div>
            {{ end }}
         {{end}}
     </section>

{{end}}


