{{ if .Site.Params.CommunityDetails }}

    <section class="columns my-6 p-6 theme-pattern-alt">
        <div class="column is-one-fifth has-background-white mx-3">
            <div class="is-size-5 has-text-weight-bold has-text-centered">Join the Pach
            </div>
            <div class="buttons is-justify-content-center">
                 <a href="https://www.pachyderm.com/slack/"> <img src="/images/Slack_Mark.svg" class="" width="75"></a>
                 <a href="https://github.com/pachyderm"> <img src="/images/Github_Mark.png" class="p-2" width="60"></a>
            </div>
        </div>
        <div class="column has-background-white mx-3 "> 
            <div class="is-size-5 has-text-weight-bold has-text-centered">News</div>
            <div class="content pt-1 has-text-centered">
              <div class="tag has-text-weight-bold has-background-primary has-text-white"> Pachyderm 2.2.7</div> is out! <br> Read  what's new in this patch release.
            </div>
        </div>
    </section>

{{end}}