{{ if .Site.Params.relatedArticles }}

    <section id="related-articles" class="is-hidden"> 
        {{ if eq .BundleType "branch"}}
        {{/*Show nothing*/}}
        {{else}}

            {{ $related := .Site.RegularPages.Related . | first 5 }}
            {{ with $related }}
                <div class="py-2"> Related Articles</div>
                <ul>
                    {{ range . }}
                        <li class="tag is-light"><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                    {{ end }}
                </ul>
            {{ end }}
         {{end}}
     </section>

{{end}}