{{ if .Site.Params.CommunityDetails }}

    <section class="columns my-6 p-6 theme-pattern-alt">
        <div class="column is-one-fifth has-background-white mx-3">
            <div class="is-size-6 has-text-weight-bold has-text-centered">Join the Community!
                <div class="buttons">
                 <a> <img src="/images/Slack_Mark.svg" class="" width="75"></a>
                 <a> <img src="/images/Github_Mark.png" class="" width="40"></a>
                 </div>
            </div>
        </div>
        <div class="column has-background-white mx-3 "> 
            <div class="is-size-6 has-text-weight-bold has-text-centered p-3">News
                </div>
        </div>
    </section>

{{end}}