{{ if .Site.Params.childPages}}
    {{if .Pages }}
    <hr>
    <h2 class="tag is-black is-large" >More From This Section</h2>
        <aside>
            <div class="columns is-flex-wrap-wrap">
                {{ range sort .Pages "Weight" "$order"}}
                <div class="column is-half">
                    <a class="card is-clipped	" href="{{ .Permalink }}">
                        <div class="card-content pach-cp ">
                            <div class="content">
                                <h4 class="mr-3"> {{ .Title}}</h4>
                                {{if .Pages}} <div class="tag is-white"> {{ len (.Pages) }} articles</div> {{end}}
                                <p class="is-size-7 has-text-dark"> {{.Summary | truncate 300}} </p>
                            </div>
                        </div>
                    </a>
                </div>
                {{ end }}
            </div>
        </aside>
    {{ end }}
{{end}}
