
  {{$toc := resources.Get "js/toc.js" }}
  {{ $clippy := resources.Get "js/clipboard.js"}}
  {{ $relatedArticles := resources.Get "js/relatedArticles.js" }}
  {{ $darkMode := resources.Get "js/darkMode.js"  }}
  {{$mobileMargins := resources.Get "js/mobileMargins.js"}}
  {{ $notices := resources.Get "js/notices.js" }}
  {{ $js := slice  $darkMode $mobileMargins $toc $clippy $relatedArticles $notices | resources.Concat "js/bundle.js" | resources.Minify }}




<footer class="footer">
    <script src="{{ $js.Permalink }}" ></script>

    <section class="columns"> 
    <div class="column is-one-fifth is-hidden-mobile"> </div>
    <div class="column"> 
        <div class="content has-text-centered">
          <a href="https://pachyderm.com">
            <img src="{{ .Site.Params.logos.footer }}" alt="{{ .Site.Params.title }}" width="100px" />
          </a>
        </div>
    </div>
    </section>
  </footer>