
  {{$toc := resources.Get "js/toc.js" | resources.Minify}}
  {{ $clippy := resources.Get "js/clipboard.js" | resources.Minify }}
  {{ $relatedArticles := resources.Get "js/relatedArticles.js" | resources.Minify }}
  {{ $darkMode := resources.Get "js/darkMode.js" | resources.Minify }}
  {{$mobileMargins := resources.Get "js/mobileMargins.js" | resources.Minify}}



<footer class="footer">
  <script src="{{ $mobileMargins.Permalink }}"></script>
  <script src="{{ $darkMode.Permalink }}" ></script>
  {{ if and (.Site.Params.toc) (ne .Params.toc false)}}
      <script src="{{ $toc.Permalink }}" defer></script>
    {{end}}
    <script src="{{ $clippy.Permalink }}" defer></script>
    <script src="{{ $relatedArticles.Permalink }}" defer></script>

    <section class="columns"> 
    <div class="column is-one-fifth is-hidden-mobile"> </div>
    <div class="column"> 
        <div class="content has-text-centered">
          <a href="https://pachyderm.com">
            <img src="{{ .Site.Params.logos.footer }}" alt="{{ .Site.Params.title }}" />
          </a>
        </div>
    </div>
    </section>
  </footer>