
  {{$toc := resources.Get "js/toc.js" | resources.Minify}}
  {{ $clippy := resources.Get "js/clipboard.js" | resources.Minify }}
  {{ $keyInputNav := resources.Get "js/keyInputNav.js" | resources.Minify }}
  {{ $relatedArticles := resources.Get "js/relatedArticles.js" | resources.Minify }}

<footer class="footer has-background-white">
  {{ if and (.Site.Params.toc) (ne .Params.toc false)}}
    <script src="{{ $toc.Permalink }}"></script>
  {{end}}
  <script src="{{ $clippy.Permalink }}"></script>
  <script src="{{ $keyInputNav.Permalink }}"></script>
  <script src="{{ $relatedArticles.Permalink }}"></script>
    <div class="content has-text-centered">
      <a href="https://pachyderm.com">
        <img src="{{ .Site.Params.logos.footer }}" alt="{{ .Site.Params.title }}" />
      </a>
    </div>
  </footer>