
<!-- Used for Multi-Versioned Docs -->
 {{ $removeVersion := print "/" .Section "/"}}
 {{ $versionlessLink := strings.TrimPrefix $removeVersion .RelPermalink }}
 <!-- End -->

<nav class="navbar is-transparent">
    <div id="navbarExampleTransparentExample" class="navbar-menu">
      <div class="navbar-start">
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="https://bulma.io/documentation/overview/start/">
            Version
          </a>
          <div class="navbar-dropdown is-boxed">
            {{ range .Site.Sections }} 
              {{$currentVersionOption := print "/" .Section "/"}}
              {{$alternativeVersionPath := print $currentVersionOption $versionlessLink }}
            <!--TODO: IF alternative version does not exist, set link to home page of other version-->
            <a class="navbar-item" href="{{$alternativeVersionPath}}">
              {{.Title}} 
            </a>
            {{end }}
            <hr class="navbar-divider">
            {{ range .Site.Taxonomies.series}}
            <a class="navbar-item" href="{{.Page.RelPermalink}}">
              {{.Page.Title}}
            </a>
            {{end}}
           
          </div>
        </div>
        <div class="navbar-item">
          <input class="input" type="text" placeholder="Text input">

        </div>
      </div>
    </div>
  </nav>

