{{ $order := "desc" }}
    <section class="section pt-0"> 
        <div class="pb-2"> 
            <a href="/" class="is-size-3">
                <b>PachDocs</b>
              </a>
        </div>
          
        
        {{with .Parent}}
        <div class="p-1"> 
            <a href="{{ .RelPermalink }}" class="tag is-medium is-primary"> < {{ .Title}}</a>
        </div>
        {{end}}
        
        {{if .Pages}}
        {{ range sort .Pages "Weight" "$order"}}
        <div class="p-1"> 
            <a href="{{ .RelPermalink }}" class="tag is-medium"> {{if .Pages}}┣ {{else}} ┃ {{end}} {{ .Title}}</a>
        </div>
        {{ if .Site.Params.navLevel }}
            {{if .Pages }}
            {{ range sort .Pages "Weight" "$order"}}
                <div class="p-1"> 
                    <a href="{{ .RelPermalink }}" class="tag is-medium has-background-primary-light ml-3"> {{if .Pages}} ┣ {{else}} ┃ {{end}} {{ .Title}}</a>
                </div>
                {{ end }}
            {{ end }}
        {{ end }}
        
        {{end}}
        {{end}}

    </section>         