{{ $order := "desc" }}
    <section class="section"> 
        {{with .Parent}}
        <div class="p-1"> 
            <a href="{{ .Permalink }}" class="button is-primary"> < {{ .Title}}</a>
        </div>
        {{end}}
        {{if .Pages}}
        {{ range sort .Pages "Weight" "$order"}}
        <div class="p-1"> 
            <a href="{{ .Permalink }}" class="button "> {{if .Pages}}>{{end}} {{ .Title}}</a>
        </div>
        {{if .Pages }}
        {{ range sort .Pages "Weight" "$order"}}
            <div class="p-1"> 
                <a href="{{ .Permalink }}" class="button is-small has-background-primary-light"> {{if .Pages}}>{{end}} {{ .Title}}</a>
            </div>
            {{ end }}
        {{ end }}
        
        {{end}}
        {{end}}

    </section>         