<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<meta name="title" content="{{ .Title }}" />
<meta name="description" content="{{ .Description }}" />
<meta name="keywords" content="{{ .Keywords }}" />
<meta name="author" content="{{ .Params.author }}" />

{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}

{{if .Site.Params.defaultCss}} 
    {{$defaultBulma := resources.Get "css/defaultBulma.css" | resources.Minify}}
    {{ $defaultCss := slice $defaultBulma | resources.Concat "css/defaultBundle.css"}}
    <link rel="stylesheet" href="{{ $defaultCss.Permalink }}" media="screen" />
{{else}}
    {{ $bulma := resources.Get "css/bulma.css" | resources.Minify }}
    {{ $brand := resources.Get "css/brand.css" | resources.Minify }}
    {{ $algolia := resources.Get "css/algolia.css" | resources.Minify }}
    {{ $css := slice $bulma $brand $algolia | resources.Concat "css/bundle.css"}}
    <link rel="stylesheet" href="{{ $css.Permalink }}" media="screen" />
{{end}}

<script defer="" src="https://cdn.jsdelivr.net/npm/algoliasearch@4.5.1/dist/algoliasearch-lite.umd.js" integrity="sha256-EXPXz4W6pQgfYY3yTpnDa3OH8/EPn16ciVsPQ/ypsjk=" crossorigin="anonymous"></script>
<script defer="" src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.8.3/dist/instantsearch.production.min.js" integrity="sha256-LAGhRRdtVoD6RLo2qDQsU2mp+XVSciKRC8XPOBWmofM=" crossorigin="anonymous"></script>
